[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
fcapy = {editable = true,path = "."}
pytest-benchmark = "*"
xmltodict = "*"
pytest-datafiles = "*"

[packages]
bitsets = "*"

[requires]
python_version = "3.4"
